:root {
    --primary-color: #000;
    --site-links: #687076;
    --button-text: #0A84FF;
    --button-hover: #0071E3;
    --gradient: linear-gradient(90deg, #0A84FF, #5E5CE6, #FF375F, #FF9F0A);
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
}

.section-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    height: 100vh;
}


/* ========== 
    NAVIGATION 
========== */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.menu-container {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid rgba(2, 23, 53, .1);
}

.logo {
    font-size: 1.2rem;
    padding: 5px 16px;
    margin-left: -15px;
    justify-content: flex-start;
    margin-right: auto;
}

.logo a {
    color: inherit;
}

.logo a:hover, .menu li a, .hero-heading h2 {
    color: var(--site-links)
}

.menu {
    display: none;
}

.menu li {
    padding: 8px 25px;
}


.menu li a:hover {
    color: var(--primary-color)
}

.project-enquiry {
    font-size: 1rem;
    padding: 8px 16px;
    margin-right: -15px;
    justify-content: flex-end;
    margin-left: auto;
}

.project-enquiry a {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.project-enquiry a, .hero-heading a {
    color: var(--button-text);
}

.project-enquiry a:hover, .project-enquiry:hover svg, .hero-heading a:hover {
    color:var(--button-hover);
}

.project-enquiry svg {
    width: 18px;
    height: 18px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.project-enquiry:hover svg {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px); 
}


/* ========== 
    HERO  
========== */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 90%;
    margin: 100px auto 45px auto;
    max-width: 1200px; 
    height: 80vh;
    min-height: 580px;
}

.hero-heading {
    max-width: 850px;
    min-height: 400px;
    line-height: 1;
    margin: 60px 0 auto;
}

.hero-heading h1 {
    font-size: 4rem;
    font-family: "DM Sans", serif;
    font-weight: 400;
    padding-bottom: 10px;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-heading h2 {
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: 400;
    margin: 15px 0 40px 0;
}

.hero-heading a {
    font-size: 1rem;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    text-decoration: none;
    overflow: visible;
}

.hero-heading a::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--button-hover);
    transition: width 0.4s ease-in-out;
}

.hero-heading a:hover::after {
    width: 100%; /* Underline expands from left to right */
}

.hero-heading a:not(:hover)::after {
    width: 0;
}

.toolsets {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    align-items: center;
}

.toolsets p {
    font-size: .9rem;
    margin-bottom: 15px;
    white-space: nowrap;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Moves halfway so it loops */
}

.tool-carousel {
    display: flex;
    background: white;
    overflow: hidden;
    position: relative;
    padding: 4px 0;
    white-space: nowrap;
    width: 100%;
}

.tool-carousel::before,
.tool-carousel::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.tool-carousel::before {
    left: 0;
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
}

.tool-carousel::after {
    right: 0;
    background: linear-gradient(to left, white 0%, rgba(255,255,255,0) 100%);
}

.carousel-track {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    animation: scroll 30s linear infinite;
}

.carousel-track li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
}

.carousel-track li span {
    margin-left: 5px;
    font-size: .9rem;
}


/* ========== 
    WORK  
========== */

.work {
    padding: 50px 0;
    overflow: hidden;
    position: relative;
    background-color: rgb(245, 245, 247);
}

.work h2 {
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 1.4rem;
}

/* Scrollable container */
.scroll-container {
    overflow-x: auto;
    padding: 20px 0;
    scrollbar-width: thin; /* Hide scrollbar on Firefox */
    scrollbar-color: transparent transparent;
    position: relative;
}

/* Card grid container */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: column;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: max-content; /* Ensures grid items overflow and enable scrolling */
    scroll-snap-type: x mandatory;
}

/* Individual cards */
.card {
    width: 400px; /* Fixed width for cards */
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    scroll-snap-align: start;
    cursor: pointer;
    transition: transform .3s cubic-bezier(0,0,0.5,1);
}

.card:hover {
    transform:scale(1.0230769231)
}

/* Card images */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Icon positioning */
.card svg {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: #37373a;
    cursor: pointer;
}

/* Hide scrollbar (optional) */
.scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
}

.scroll-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    cursor: pointer;
}

.scroll-buttons button {
    border-radius: 50%;
    border: none;
    background-color: rgba(210, 210, 215, 0.64);
    padding: 10px;
    cursor: pointer;
}

.scroll-buttons button:hover {
    background-color: rgba(223, 223, 227, 0.6976);
}

.scroll-buttons button svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-buttons button.active {
    background-color: darkgray;
}

/* ========== 
    SERVICES  
========== */

/* ========== 
    ABOUT  
========== */


/* ========== 
    FOOTER  
========== */

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    padding-bottom: 15px;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p, .footer-links a {
    font-size: .9rem;
    color: #687076;
}

.footer p:hover, .footer-links a:hover {
    color: black;
}

.footer-links {
    display: flex;
    margin-right: -15px;
}

.footer-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  15px;
}

/* ========== 
    ENQUIRY MODAL  
========== */

.enquiry-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 50px 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 550px;
    position: relative;
    animation: openModal 0.4s backwards ease;
}

@keyframes openModal {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.close-modal {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}

.close-modal:hover svg {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2)
}

.modal-content input {
    min-height: 40px;
}

.modal-content input, .modal-content textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    outline: none;
}

.modal-content textarea {
    height: 150px;
    resize: none;
    font-family: inherit;
    font-size: 1rem;
}

.form-privacy {
    margin: 5px auto 10px;
    font-size: .9rem;
    color: var(--site-links)
}

.form-privacy a {
    color: var(--site-links);
    text-decoration: underline;
}

.form-submit-button button {
    width: 100%;
    font-size: 1.1rem;
    margin-top: 15px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: var(--button-text);
    color: #fff;
    cursor: pointer;
}

.form-submit-button button:hover {
    background-color: var(--button-hover);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}   


/* ========== 
    PROJECT MODAL  
========== */



/* =============== 
    LARGER SCREENS  
=============== */

@media only screen and (min-width: 768px) {

    .logo {
        font-size: 1.4rem;
    }

    .menu {
        display: flex;
    }

    .hero-heading h1 {
        font-size: 6rem;
    }

    .hero-heading h2 {
        font-size: 1.3rem;
    }

    .hero-heading a {
        font-size: 1.2rem;
    }

    .toolsets {
        display: flex;
        flex-direction: row;
    }

    .toolsets p {
        margin-right: 15px;
        margin-bottom: 0;
    }

    .modal-content {
        padding: 50px 60px;
    }
    
    .work h2 {
        font-size: 1.8rem;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1440px) and (min-height: 1080px) {
    
}

@media only screen and (min-width: 2201px) and (min-height: 1080px) {
    
}




